*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("image.jpg");
    background-size: cover;
    background-position: center;
    font-family: "Helvetica Neue";
    font-size:16px;
    display: inline-block;
    text-align: center;
}
h1{
    font-weight: bold;
    text-decoration: underline;
    color: #83c5be;
}
h3{
     color: #184145;
}
header{
    text-align: center;
}
.container{
     /* min-height: 200vh; */
     border: 10px; 
      width: 400px;
     height: 350px;
     display: inline-block;
     margin-left: 0px;
     background-image: url("apj.jpg");
    background-size: cover;
    border-color: black;
} 

div{
    height: 100px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;
}
footer{
    background-color: #073b4c;
    padding: 20px 0;
    color: #fff;
}
